h1 {
    background-color: rgb(104, 193, 193);
    border-radius: 50px;
    border: solid 4px red;
    text-align: center;
}
.Tesla {
    background-color: green;
} 
caption {
    text-align: center;
    background-color: yellow;
}
th {
    background-color: red;
}
td {
    background-color: blueviolet;
}
table {
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
}
button {
    text-align: center;
    background-color: green;
    width: 250px;
    padding: 3px;
}
img {
    width: 500px;
}